body{
font-family:'Noto Sans TC',sans-serif;
}

.bg-primary {
	background-color: #e8c5b7!important;

}

.text-primary {
	color: #FA8072!important;
}

h1,h2,h3,h4,h5,h6{
	font-family:'Noto Sans TC',sans-serif;
        text-transform:none;
}

.subheading{
	font-family:'Noto Sans TC',sans-serif;
        text-transform:none;
}
	

a {
	color:#FA8072!important;
}






