body{
font-family:'Noto Sans TC',sans-serif;
}

.bg-primary {
	background-color: #008080!important;

}

.text-primary {
	color: #008080!important;
}

h1,h2,h3,h4,h5,h6{
	font-family:'Noto Sans TC',sans-serif;
        text-transform:none;
}

.subheading{
	font-family:'Noto Sans TC',sans-serif;
        text-transform:none;
}
	

div.subheading a {
	color:#008080!important;
}

.bg-primary{
background-color: #008080!importanat;
background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

